---
import { format } from "date-fns";
import type { CollectionEntry } from "astro:content";

import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";
import Spacer from "../components/Spacer.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, subtitle, date } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={subtitle} />
  </head>

  <body>
    <Navigation />

    <main class="flex min-h-screen flex-col px-16">
      <div>
        <h1 class="text-6xl font-bold max-w-4xl">{title}</h1>

        <Spacer size="xs" />

        <h2 class="text-xl">{subtitle}</h2>

        <time datetime={date.toString()} class="mb-1 text-s text-gray-400">
          {format(date, "LLLL d, yyyy")}
        </time>
      </div>

      <Spacer size="medium" />

      <article class="prose prose-lg prose-neutral dark:prose-invert">
        <slot />
      </article>
    </main>
  </body>
</html>
